.hero{
background:url('../../img/hero.jpeg');
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
height: 650px;
flex-shrink: 0;
&__btn{
  margin:30px 0 0 80px;
  width: 180px;
  padding: 14px 0;
  background-color: #FCB72B;
  color: #FFF;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  border: none;
}
&__btn:hover{
  background-color: #FFF; 
  color:#FCB72B;
  border: 2px solid   #FCB72B;
  transition-duration: 0.4s;
  
}

&__box{
display: flex;
padding-top: 153px;
padding-bottom: 152px;
margin: 0 auto;
align-items:center;

&-aside{


&__title{
  width: 500px;
  margin: 0;
  color: white;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; 
  letter-spacing: -2.5px;

}
&__content{
display: flex;
align-items:center;


&-img{
  content: url(../../img/Path.png );
    position: absolute;
    z-index: 1;
    margin-left: -200px;
    padding-bottom: 40px;


}
&-text{


&__p{
  margin: 30px 0 0 80px;
  width: 405px;
  color: #FFF;
  font-family: "Lexend Deca";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; 
}
}
&-image{

position:absolute;
content: url(../../img/Copy.png );
    position: absolute;
    z-index: 1;
    padding-left: 550px;
    padding-top: 90px;
}

}

}

}



}


